// MAPアイコン
@mixin svg-icon-map($color) {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 40" fill="%23#{$color}"><path d="M16 0C7.17809 0 0.000162888 7.178 0.000162888 15.99C-0.0578365 28.88 15.392 39.568 16 40C16 40 32.0578 28.88 31.9998 16C31.9998 7.178 24.8219 0 16 0ZM16 24C11.58 24 8.00008 20.42 8.00008 16C8.00008 11.58 11.58 8 16 8C20.42 8 23.9999 11.58 23.9999 16C23.9999 20.42 20.42 24 16 24Z" /></svg>');
    aspect-ratio: 32/40;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
// デスクトップPCアイコン
@mixin svg-icon-pc($color) {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" fill="%23#{$color}"><path d="M35.5556 20H4.44444V24.4444H35.5556V20ZM4.44444 4.44444V15.5556H35.5556V4.44444H4.44444ZM40 24.4444C40 25.6232 39.5314 26.7533 38.6979 27.5868C37.8644 28.4203 36.7343 28.8889 35.5556 28.8889H22.2222V35.5556H26.6667C27.894 35.5556 28.8889 36.5505 28.8889 37.7778C28.8889 39.0051 27.894 40 26.6667 40H13.3333C12.106 40 11.1111 39.0051 11.1111 37.7778C11.1111 36.5505 12.106 35.5556 13.3333 35.5556H17.7778V28.8889H4.44444C3.2657 28.8889 2.13558 28.4203 1.30208 27.5868C0.468589 26.7533 0 25.6232 0 24.4444V4.44444C0 3.2657 0.468589 2.13558 1.30208 1.30208C2.13558 0.468589 3.2657 0 4.44444 0H35.5556C36.7343 0 37.8644 0.468589 38.6979 1.30208C39.5314 2.13558 40 3.26571 40 4.44444V24.4444Z"/></svg>');
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
// ▲アイコン
@mixin svg-arrow-triangle($color) {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 15" fill="%23#{$color}"><path d="M-6.54462e-07 0.0398964L12.976 7.51995L0 15L-6.54462e-07 0.0398964Z" /></svg>');
    aspect-ratio: 13/15;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
