/* =================================
 * 	九州運輸 ご依頼・お問い合わせ(CONTACT)
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * 問合せフォーム
 * ------------------------------ */
.containerContactForm {
    @include flex-center(column);
    padding: 0 2vw 8.3rem;
    .boxHead {
        font-size: inherit;
        display: flex;
        flex-direction: column;
        p {
            font-size: FZ(16);
            letter-spacing: 0.1em;
        }
        a {
            font-size: FZ(64);
            @include futura-pt-book;
            letter-spacing: 0.05em;
            margin-top: 7px;
            span {
                font-size: 0.5em;
                @include futura-pt-demi;
            }
        }
    }
    .blockForm {
        position: relative;
        font-size: inherit;
        width: 100%;
        background-color: #ececec;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5rem;
        max-width: $articleMaxWidth;
        margin-top: 3.3rem;
        padding: 10rem 0 6.6rem;
        @include sp {
            max-width: unset;
        }
        // inputタグ初期化
        input {
            margin: 0;
            padding: 0;
            background: none;
            border: none;
            border-radius: 0;
            outline: none;
            appearance: none;
        }

        // textareaタグ初期化
        textarea {
            outline: none;
        }
        textarea,
        input[type="text"],
        input[type="tel"],
        input[type="email"] {
            width: stretch;
            color: #000;
            padding: 1.5em 0.8em;
            border-radius: 0.3rem;
            letter-spacing: 0.04em;
            background-color: #f1f3f2;
            border: 1px solid $main-green;
            @include sp {
                padding: 1em;
            }
            &::placeholder {
                color: $sub-green;
            }
        }
        .boxForm,
        .statusConfirm {
            position: relative;
            display: grid;
            width: 100%;
            max-width: 90rem;
            font-size: inherit;
            grid-template-columns: auto 1fr;
            @include sp {
                grid-template-columns: unset;
                grid-auto-flow: row;
                gap: 8vw 0;
            }

            dl {
                position: relative;
                font-size: inherit;
                grid-column: span 2;
                display: grid;
                grid-template-columns: subgrid;
                width: 100%;
                margin-top: 0.5rem;
                div {
                    font-size: inherit;
                    grid-column: span 2;
                    display: grid;
                    grid-template-columns: subgrid;
                    dt {
                        font-size: FZ(20);
                        align-self: center;
                        text-align: right;
                        letter-spacing: 0.1em;
                        &.positionTop {
                            align-self: stretch;
                            padding-top: 1em;
                        }
                    }
                    dd {
                        font-size: inherit;
                        input[type="text"],
                        input[type="tel"],
                        input[type="email"] {
                            font-size: FZ(20);
                            @include sp {
                                font-size: 1.8rem;
                                max-width: unset;
                            }
                        }
                        textarea {
                            min-height: 11lh;
                            field-sizing: content;
                            line-height: 1.6em;
                            font-size: FZ(20);
                            @include sp {
                                min-height: 10lh;
                                font-size: 1.8rem;
                            }
                        }
                    }
                }
            }

            .box_btn {
                margin-top: 7rem;
                grid-column: span 2;
                font-size: inherit;
                display: flex;
                justify-content: center;
                gap: 0 1.6rem;
                @include sp {
                    margin-top: 4vw;
                    gap: 0 2vw;
                }
                .btnSub,
                .btnBack {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: inherit;
                    height: 9rem;
                    padding-left: 5rem;
                    transition: 0.3s ease-out;
                    padding-right: 3rem;
                    width: 100%;
                    span {
                        color: $font-white;
                        @include transition(color);
                        font-size: FZ(20);
                        letter-spacing: 0.1em;
                    }
                    i {
                        position: relative;
                        width: 5rem;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        background-color: rgba($font-white, 0.4);
                        @include transition(background-color);
                        &::before {
                            content: "";
                            position: absolute;
                            inset: 0;
                            margin: auto;
                            translate: 2px;
                            width: 13px;
                            @include svg-arrow-triangle("F8F8F8");
                            @include drop-shadow;
                            @include transition(background-image);
                        }
                    }
                }
                .btnSub {
                    max-width: 60rem;
                    background-color: $main-green;
                    @include hover {
                        background-color: $sub-green;
                    }
                }
                .btnBack {
                    flex: 1;
                    color: $font-white;
                    background-color: $font-black;
                    i {
                        &::before {
                            scale: -1 1;
                            translate: -2px;
                        }
                    }
                    @include hover {
                        background-color: $main-green;
                    }
                }
            }
        }
        .boxForm {
            gap: 2rem 3.7rem;
            dl {
                gap: 2rem 3.7rem;
            }
            .boxCategory {
                position: relative;
                font-size: inherit;
                grid-column: span 2;
                display: grid;
                grid-template-columns: subgrid;
                span {
                    font-size: FZ(20);
                    letter-spacing: 0.1em;
                    align-self: center;
                    text-align: right;
                }
                .checkRadio {
                    font-size: inherit;
                    display: flex;
                    gap: 0 1.6em;
                    padding-block: 0.5em;
                    justify-content: space-between;
                    label {
                        position: relative;
                        font-size: FZ(18);
                        cursor: pointer;
                        span {
                            padding-left: 2.2em;
                            position: relative;
                            &::before {
                                content: "";
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                                width: 4rem;
                                aspect-ratio: 1;
                                background-color: #f1f3f2;
                                border: 1px solid $main-green;
                            }
                            &::after {
                                content: "";
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translate(4px, -50%);
                                width: 0.6em;
                                height: 0.6em;
                                opacity: 0;
                                transition: opacity 0.2s;
                            }
                        }
                        input[type="radio"] {
                            position: absolute;
                            opacity: 0;
                            pointer-events: none;
                        }
                        input[type="radio"]:checked + span::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .statusConfirm {
            .announce {
                font-size: FZ(20);
                grid-column: span 2;
                text-align: center;
                margin-bottom: 2rem;
            }
            dl {
                gap: 0 5rem;
                & > div {
                    padding-block: 1.6em;
                    &:not(:last-of-type) {
                        border-bottom: 1px solid $main-green;
                    }
                    dd {
                        font-size: FZ(20);
                        color: $main-green;
                        line-height: 1.6em;
                        letter-spacing: 0.1em;
                    }
                }
            }
        }
    }
}
