/* =================================
 * 	九州運輸 TOPページ
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする
.itemH2 {
    font-size: FZ(16);
    letter-spacing: 0.1em;
}
.sidebarH2 {
    @include futura-pt-book;
    font-size: FZ(64);
    margin-top: 5.8rem;
    display: inline-block;
    @include sp {
        font-size: FZ(48);
        margin-top: 2vw;
    }
}

/* =================================
 * HERO
 * ------------------------------ */
.containerTopHero {
    position: relative;
    aspect-ratio: 1366/977;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-height: 977px;
    overflow: hidden;
    color: $font-white;
    padding-left: 2vw;
    padding-bottom: 5.6rem;
    @include sp {
        padding: 4vw 6vw;
    }
    .bgImage {
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        width: 100%;
        img {
            position: relative;
        }
    }
    .catch {
        position: relative;
        font-size: min(7vw, 11rem);
        font-weight: 500;
        letter-spacing: 0.05em;
        writing-mode: vertical-rl; //縦書き
        text-orientation: upright; //縦書き英数回転
        font-feature-settings: initial; //左詰め解除
        align-self: flex-start;
        line-height: 1.2em;

        @include sp {
            font-size: FZ(28);
            letter-spacing: 0.08em;
            padding-left: 10vw;
            line-height: 1.4em;
        }
    }
    .text {
        position: relative;
        font-size: FZ(20);
        letter-spacing: 0.1em;
        line-height: 1.6em;
        margin-top: 0.5em;
        @include sp {
            font-size: FZ(14);
        }
    }
    .mobileImage {
        display: none;
        @include sp {
            position: absolute;
            top: 2vw;
            left: 2vw;
            z-index: 2;
            display: block;
            width: 50vw;
            img {
                width: 100%;
            }
        }
    }
}

/* =================================
 * 業務内容(WORKS)
 * ------------------------------ */
.containerTopWorks {
    @include flex-center(column);
    padding: 9.3rem 2vw 12rem;
    @include sp {
        padding: 6vw 4vw;
    }
    .itemH2 {
        color: $sub-green;
    }
    .announce {
        font-size: FZ(16);
        letter-spacing: 0.1em;
        margin-top: 4rem;
        @include sp {
            font-size: FZ(14);
            margin-top: 6vw;
        }
    }
    .listWorks {
        position: relative;
        width: 100%;
        max-width: 121rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 4rem;
        font-size: inherit;
        gap: 0 0.5rem;
        @include sp {
            grid-template-columns: unset;
            grid-auto-flow: row;
            gap: 2vw 0;
            margin-top: 2vw;
        }
        li {
            position: relative;
            font-size: inherit;
            color: $font-white;
            grid-row: span 3;
            display: grid;
            grid-template-rows: subgrid;
            .itemLink {
                font-size: inherit;
                position: relative;
                grid-row: span 3;
                display: grid;
                grid-template-rows: subgrid;
                justify-items: center;
                padding: 107px 0 12rem;
                @include sp {
                    padding: 6vw;
                }
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    inset: 0;
                    z-index: -1;
                }
                &::before {
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                }
                &::after {
                    background-color: rgba($dark-green, 0.7);
                }
                .titleEn {
                    @include futura-pt-demi;
                    color: $light-green;
                    font-size: FZ(16);
                    letter-spacing: 0.4em;
                }
                h3 {
                    font-size: FZ(48);
                    font-weight: 500;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.2em 0;
                    margin-top: 6rem;
                    letter-spacing: 0.1em;
                    @include sp {
                        margin-top: 2vw;
                        font-size: FZ(32);
                        gap: 0;
                    }
                    small {
                        font-size: 0.33em;
                    }
                }
                p {
                    font-size: FZ(16);
                    margin-top: 5rem;
                    @include sp {
                        margin-top: 2vw;
                        font-size: FZ(14);
                    }
                    span {
                        font-size: inherit;
                        line-height: 1.6em;
                        letter-spacing: 0.1em;
                    }
                }
            }
            .itemBtn {
                position: absolute;
                bottom: 1.2rem;
                right: 1.2rem;
                width: 7rem;
                aspect-ratio: 1;
                border-radius: 50%;
                background-color: $sub-green;
                @include sp {
                    bottom: 4vw;
                    right: 2vw;
                    width: 15vw;
                }
                &::after {
                    content: "";
                    position: absolute;
                    inset: 0;
                    margin: auto;
                    translate: 2px;
                    width: 13px;
                    @include svg-arrow-triangle("F8F8F8");
                    @include drop-shadow;
                }
            }
            &[data-work="works"] {
                a {
                    &::before {
                        background-image: url("/images/top/works01.webp");
                    }
                }
            }
            &[data-work="contact"] {
                a {
                    &::before {
                        background-image: url("/images/top/works02.webp");
                    }
                }
            }
            &[data-work="variation"] {
                a {
                    &::before {
                        background-image: url("/images/top/works03.webp");
                    }
                }
            }
        }
    }
}

/* =================================
 * 会社概要(COMPANY)
 * ------------------------------ */
.containerTopCompany {
    padding: 0 2vw 5.3rem;
    @include flex-center;
    @include sp {
        padding: 8vw 4vw;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        margin: auto;
        z-index: -1;
    }
    &::before {
        background: url("/images/top/company.webp") no-repeat center center /
            cover;
    }
    &::after {
        background-color: rgba($dark-green, 0.9);
    }
    article {
        max-width: $articleMaxWidth;
        display: flex;
        justify-content: flex-end;
        @include sp {
            justify-content: stretch;
        }
        .boxContents {
            position: relative;
            width: 50%;
            font-size: inherit;
            display: flex;
            flex-direction: column;
            padding-top: 7.3rem;
            padding-left: 7.6rem;
            @include sp {
                padding: 0;
                width: 100%;
            }
            &::before {
                content: "";
                position: absolute;
                right: 100%;
                height: calc(100% + 5rem);
                width: 50vw;
                bottom: 0;
                background: url("/images/top/company.webp") no-repeat center
                    center / cover;
                @include sp {
                    display: none;
                }
            }
            .itemH2 {
                color: $light-green;
            }
            .sidebarH2 {
                color: $font-white;
            }
            .announce {
                font-size: FZ(16);
                letter-spacing: 0.1em;
                margin-top: 4rem;
                color: $font-white;
                line-height: 2em;
                @include sp {
                    margin-top: 4vw;
                }
            }
            a {
                max-width: 40rem;
                margin-top: 8.5rem;
                @include page-link;
                @include sp {
                    max-width: unset;
                    margin-top: 6vw;
                }
            }
        }
    }
}

/* =================================
 * 採用情報(RECRUIT)
 * ------------------------------ */
.containerTopRecruit {
    padding: 7.5rem 2vw 6.1rem;
    @include flex-center;
    background-color: $main-green;
    @include sp {
        padding: 8vw 4vw;
    }
    article {
        max-width: $articleMaxWidth;
        display: flex;
        .boxContents {
            position: relative;
            font-size: inherit;
            display: flex;
            flex-direction: column;
            color: $font-white;
            padding-left: 10.5rem;
            padding-right: 6.1rem;
            @include sp {
                padding: unset;
                width: 100%;
            }
            &::after {
                content: "";
                position: absolute;
                left: 100%;
                height: calc(100% + 5rem);
                width: 60vw;
                bottom: 0;
                background: url("/images/top/recruit.webp") no-repeat left
                    bottom / contain;
                @include sp {
                    left: 55vw;
                    height: 35vw;
                    bottom: 18vw;
                }
            }
            .itemH2 {
                color: $light-green;
            }
            h3 {
                font-size: FZ(20);
                letter-spacing: 0.1em;
                font-weight: 500;
                margin-top: 1.7rem;
                @include sp {
                    font-size: FZ(16);
                    margin-top: 2vw;
                }
            }
            .announce {
                font-size: FZ(16);
                letter-spacing: 0.1em;
                margin-top: 5rem;
                line-height: 2em;
                @include sp {
                    margin-top: 8vw;
                    font-size: FZ(14);
                }
            }
            a {
                max-width: 40rem;
                margin-top: 1.7rem;
                @include page-link;
                @include sp {
                    max-width: unset;
                    width: 100%;
                }
            }
        }
    }
}
