/* =================================
 * 	九州運輸採用情報(RECRUIT)
 * ------------------------------ */
@use "../../styles/variable" as *;
@use "../../styles/svg" as *;
@use "../../styles/mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする
.listJobCard {
    position: relative;
    font-size: inherit;
    display: grid;
    &.listJobCardTop {
        grid-template-columns: repeat(3, 1fr);
        gap: 4.2rem 0.9rem;
        @include sp {
            display: flex;
            flex-direction: column;
            gap: 4vw 0;
        }
    }
    &.listJobCardDetail {
        display: flex;
        gap: 0 0.9rem;
        margin-top: 7.1rem;
        width: 100%;
        .itemJobCard {
            max-width: 397px;
            box-shadow: 0 0 5px 0 rgb(0 0 0 / 25%);
        }
    }
    .itemJobCard {
        position: relative;
        width: 100%;
        grid-row: span 2;
        display: grid;
        grid-template-rows: subgrid;
        gap: 0;
        font-size: inherit;
    }
}
.boxDetails {
    background-color: #f8f8f8;
    color: $font-black;
    padding: 2rem 2rem 0.8rem;
    font-size: inherit;
    display: flex;
    flex-direction: column;
    h4 {
        color: $dark-green;
        font-size: FZ(14);
        font-weight: 700;
        letter-spacing: 0.1em;
    }
    p {
        font-size: FZ(16);
        font-weight: 400;
        line-height: 1.6em;
        letter-spacing: 0.1em;
    }
    img {
        width: 100%;
        aspect-ratio: 356/154;
        object-fit: cover;
        margin-block: 1.7rem;
    }
    ul {
        position: relative;
        font-size: inherit;
        border-top: 1px solid;
        margin-top: 1.2rem;
        padding-top: 1.2rem;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1.2rem 2rem;
        padding-inline: 1rem;
        li {
            font-size: FZ(16);
            position: relative;
            letter-spacing: 0.1em;
            padding-left: 1.8em;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;
                left: 0;
            }
            &.itemEmploymentType {
                &::before {
                    width: 2rem;
                    @include svg-icon-job-card01("176D60");
                }
            }
            &.itemAreaText {
                &::before {
                    width: 1.9rem;
                    @include svg-icon-job-card02("176D60");
                }
            }
            &.itemSalaryText {
                grid-column: span 2;
                &::before {
                    width: 2rem;
                    @include svg-icon-job-card03("176D60");
                }
            }
        }
    }
}
.itemLink {
    position: relative;
    display: flex;
    align-items: center;
    background-color: $sub-green;
    height: 6rem;
    font-size: FZ(14);
    font-weight: 500;
    padding-left: 3.2rem;
    letter-spacing: 0.1em;
    color: $font-white;
    &::after {
        content: "";
        position: absolute;
        right: 3.2rem;
        top: 50%;
        translate: 0 -50%;
        width: 1.5rem;
        @include svg-arrow-triangle("f8f8f8");
        @include drop-shadow;
    }
}
